language = "python3"
run = "echo $(date) START > restart.log; { npx nodemon -L -x 'rm -f .git/index.lock; git pull origin main --force; git reset --hard origin/main; ./venv/bin/python app.pyc || { ./venv/bin/pip install -r requirements.txt; echo $(date) CRASH >> restart.log; };' --watch restart.log || npm install nodemon; } | { while [ true ]; do sleep 6 ; curl -m 5 -Is 127.0.0.1:5000 > test.log || continue; done; };"

[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}/venv"
PATH = "${VIRTUAL_ENV}/bin"
PYTHONPATH="${VIRTUAL_ENV}/lib/python3.8/site-packages"
REPLIT_POETRY_PYPI_REPOSITORY="https://package-proxy.replit.com/pypi/"
MPLBACKEND="TkAgg"