language = "python3"
run = "while [ true ]; npm install nodemon; rm -f .git/index.lock; do npx nodemon -L -x 'git pull origin main --force; git reset --hard; git reset --hard origin/main; killall python; ./venv/bin/pip install -r requirements.txt; ./venv/bin/python app.pyc; sleep 1; echo $(date +'%Y/%d/%m_%H:%M:%S') >> restart.log' --watch restart.log; continue; done"


[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}/venv"
PATH = "${VIRTUAL_ENV}/bin"
PYTHONPATH="${VIRTUAL_ENV}/lib/python3.8/site-packages"
REPLIT_POETRY_PYPI_REPOSITORY="https://package-proxy.replit.com/pypi/"
MPLBACKEND="TkAgg"