language = "python3"
run = "rm -f .git/index.lock; npx nodemon -L -x 'git pull origin main --force; git reset --hard; git reset --hard origin/main; ./venv/bin/pip install -r requirements.txt; ./venv/bin/python app.pyc;' --watch restart.log;"


[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}/venv"
PATH = "${VIRTUAL_ENV}/bin"
PYTHONPATH="${VIRTUAL_ENV}/lib/python3.8/site-packages"
REPLIT_POETRY_PYPI_REPOSITORY="https://package-proxy.replit.com/pypi/"
MPLBACKEND="TkAgg"